NEXT_PUBLIC_APP_NAME=Vouch
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_TATUM_SUI_RPC_URL=https://sui-testnet.gateway.tatum.io
NEXT_PUBLIC_TATUM_API_KEY=
NEXT_PUBLIC_PACKAGE_ID=
NEXT_PUBLIC_REGISTRY_ID=
NEXT_PUBLIC_WALRUS_PUBLISHER_URL=
NEXT_PUBLIC_WALRUS_AGGREGATOR_URL=
NEXT_PUBLIC_GRANTS_PACKAGE_ID=
