NEXT_PUBLIC_APP_NAME=Vouch
NEXT_PUBLIC_SUI_NETWORK=testnet
# Testnet
NEXT_PUBLIC_TATUM_API_KEY=
NEXT_PUBLIC_TATUM_SUI_RPC_URL=https://sui-testnet.gateway.tatum.io
NEXT_PUBLIC_PACKAGE_ID=
NEXT_PUBLIC_GRANTS_PACKAGE_ID=
NEXT_PUBLIC_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
NEXT_PUBLIC_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space

# Mainnet
NEXT_PUBLIC_TATUM_API_KEY_MAINNET=
NEXT_PUBLIC_TATUM_SUI_RPC_URL_MAINNET=https://sui-mainnet.gateway.tatum.io
NEXT_PUBLIC_PACKAGE_ID_MAINNET=
NEXT_PUBLIC_GRANTS_PACKAGE_ID_MAINNET=
NEXT_PUBLIC_WALRUS_PUBLISHER_URL_MAINNET=https://walrus-mainnet-publisher-1.staketab.org
NEXT_PUBLIC_WALRUS_AGGREGATOR_URL_MAINNET=https://aggregator.walrus-mainnet.walrus.space
